<style>
    th,
    td,
    tr {
        padding: 5px;
        text-align: center !important;
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>داشبورد
                            <small>پنل مدیریت چندکاره</small>
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">داشبورد</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    @if (TempData["msg"] != null)
    {
        <p class="alert alert-danger p-3 form-control">@TempData["msg"]</p>
    }






    <div class="col-xl-12 xl-100">

        <div class="card">
            @if (User.FindFirst("Role").Value == "admin")
            {
                <a href="/admin/home/editMenu" class="btn btn-info">
                    افزودن منوی جدید
                </a>
            }
            <div class="card-body">
                <div class="user-status table-responsive latest-order-table">
                    <table class="table table-bordernone">
                        <thead>

                            <tr>
                                <td scope="col">ردیف</td>
                                <td scope="col">نام منو</td>
                                <td scope="col">افزودن و ویرایش دسته بندی ها</td>
                                @if (User.FindFirst("Role").Value == "admin")
                                {
                                    <td scope="col">مدیریت</td>
                                    <td scope="col">ویرایش</td>
                                    <td scope="col">حذف</td>
                                }
                            </tr>


                        </thead>
                        <tbody>
                            @if (ViewBag.Menu != null)
                            {
                                int i = 1;
                                @foreach (Menu item in ViewBag.Menu)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td class="font-danger">@item.Name </td>

                                        <td class="font-danger">
                                            <a href="/admin/home/category/@item.Id" class="btn btn-warning form-control"> دسته
                                                بندی ها
                                            </a>
                                        </td>

                                        @if (User.FindFirst("Role").Value == "admin")
                                        {
                                            <td class="font-danger">
                                                @if (item.Id != 1)
                                                {
                                                    <a href="/admin/home/AdminSelect/@item.Id" class="btn btn-info form-control">
                                                        @if (item.AdminId == null)
                                                        {
                                                            <span>اختصاص</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@item.Admin.NameFamily</span>
                                                        }
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="alert(`امکان واگذاری منوی مربوط به اسیدشویی وجود ندارد`)" class="btn btn-info form-control"><span>مدیریت اصلی</span></a>
                                                }
                                            </td>

                                            <td class="font-danger">
                                                <a href="/admin/home/editMenu/@item.Id" class="btn btn-warning form-control">ویرایش
                                                </a>
                                            </td>

                                            <td class="font-danger">
                                                @if (@item.Id == 1)
                                                {
                                                    <a href="" class="btn btn-danger form-control disabled"
                                                        onclick="return confirm('ایا از حذف مطمئن هستید ')">حذف </a>
                                                }
                                                else
                                                {
                                                    <a href="/admin/home/DeleteMenu/@item.Id" class="btn btn-warning form-control"
                                                        onclick="return confirm('ایا از حذف مطمئن هستید ')">حذف </a>
                                                }
                                            </td>
                                        }


                                    </tr>
                                    i++;
                                }
                            }


                        </tbody>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Container-fluid Ends-->

</div>