<div class="page-content-wrapper">

<div class="page-content mt-3" style="margin-top: 7px !important;">
  
    <br/>
                
                <p class="alert   p-3 m-3 text-center " style="background-color: #d182fa;">   موجودی فعلی: @ViewBag.walet تومان       </p>
                
    @if (ViewBag.Walets != null)
    {
           
                @foreach (var item in ViewBag.Walets)
                {

                <div class="row m-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                            <p class="card-title" dir="rtl">مبلغ تراکنش : @{
                                    @if(item.variz == 0){
                                        <span>@item.bardasht-</span>
                                    }
                                    else{
                                        <span>@item.variz+</span>
                                    }
                                }
                            </p>
                            <p class="card-text" >   بابت : @item.babat <br><br> تاریخ : @PersianDate.ToPersianDateString(item.date) </p>
            
                                         </div>
                        </div>
                    </div>
                    </div>
                    
                }
    }
    else{
        <br/>
       


         <p class="alert alert-danger p-3 m-3 text-center mt-7">  تراکنشی ثبت نشده است  </p>
                
               
                    
               

    }




</div>

</div>